<div class="slds-grid slds-m-top--x-large slds-m-bottom--x-large">
  <h1 class="slds-text-heading--large slds-m-left--x-large slds-size--3-of-4">CloudCall Configuration</h1>
  <div class="slds-button-group  slds-float--right slds-size--1-of-4" role="group">
    <button nglbutton="neutral" type="button" class="slds-button slds-button--neutral ">Refresh Tokens</button>
    <button nglbutton="neutral" type="button" class="slds-button slds-button--neutral">Sync CRM Profile</button>

  </div>
</div>
<ngl-tabs [(selected)]="selectedTab" [type]="type">

  <ng-template ngl-tab heading="User Configuration">
   <app-userconfiguration></app-userconfiguration>
  </ng-template>
  <ng-template ngl-tab heading="CloudCall Contact Phone Mapping">
    <app-ccmappingmain></app-ccmappingmain>
  </ng-template>
  <ng-template ngl-tab heading="Restricted Call Recording Pages">
    <app-ccrestrictcall></app-ccrestrictcall>
  </ng-template>
  <ng-template ngl-tab heading="Related to Pre-Population">
    Related to Pre-Population
  </ng-template>
  <ng-template ngl-tab heading="Add New Record Configuration">
    Add New Record Configuration
  </ng-template>

</ngl-tabs>


