<table  class="slds-max-medium-table--stacked-horizontal slds-table slds-table--bordered slds-table--striped">

  <thead>
    <tr class="slds-text-title--caps">
    <th>
        <div class="" ng-reflect-ngl-internal-outlet="Action" title="Label">Label</div>
    </th>
    <th>
        <div class="" ng-reflect-ngl-internal-outlet="Action" title="API Name">API NAME</div>
    </th>
    <th>
        <div class="" ng-reflect-ngl-internal-outlet="Action" title="Namespace Prefix">NAMESPACE PREFIX</div>
    </th>
    <th>
      <div class="slds-grid">
        <ngl-form-checkbox-toggle class="slds-size--1-of-4 slds-grid--align-end">
            <input nglFormControl type="checkbox" />
          </ngl-form-checkbox-toggle>
        <p class="slds-size--1-of-4" ng-reflect-ngl-internal-outlet="Action" title="Pause Recording">
           PAUSE RECORDING?</p>
          </div>
    </th>
  </tr>
  </thead>
  <tbody>
      <tr><td   class="slds-text-align--center" >Check Mate</td>
        <td class="slds-text-align--center" >Check Mate</td>
        <td class="slds-text-align--center" >Check Mate</td>
        <td> <ngl-form-checkbox-toggle>
            <input nglFormControl type="checkbox" />
          </ngl-form-checkbox-toggle></td></tr>

          <tr><td   class="slds-text-align--center" >Check Mate</td>
            <td class="slds-text-align--center" >Check Mate</td>
            <td class="slds-text-align--center" >Check Mate</td>
            <td> <ngl-form-checkbox-toggle>
                <input nglFormControl type="checkbox" />
              </ngl-form-checkbox-toggle></td></tr>

  </tbody>
  </table>